/**
*** JSfiddle link: http://jsfiddle.net/desi_gner/ac4pk0ts/
**/
html{
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  font-family: CONSOLA, serif;
  font-size: 15pt;
  letter-spacing: -0.05em;
  font-weight: lighter;
}

@font-face {
    font-family: "CONSOLA";
    src: url(https://rawcdn.githack.com/g0xxx3uru/md/master/CONSOLA.TTF) format("truetype");
  }

/***********
** Custom **
***********/

a,
h1,
h3,
h4{
  font-weight: 500;
  font-style: italic;
}

a{
  text-decoration: none;
}


td, 
td:hover,
.hover,
.hover:hover{
  padding: 0 21px;
}



h3,
footer,
.answer,
.color{
/* primary color */
  color: #599;
}

.problem,
.button,
.color1{
  /* secondary color */
  color: #055;
}

.color3{
  color: #aaa;
}

h3,
header,
.answer,
.bkg{
  /* Primary bkg color */
  background-color: #555;
}


h3,
mark,
.hover:hover,
.button:hover,
.bkg1{
  /* Secondary bkg color ... */
  background-color: #f2f5f5;
  }

header,
h3,
mark{
  padding: 5px;
}
.hover,
.button{
  padding: 15px;
}


.bkg2{
  background-color: #aaa;
}

.bkg3{
  background-color: #055;
}

.mrg{
  margin: auto;
}

.mrgx{
  margin-right: 0 auto;
  margin-left: 0 auto;
}

.mrgy{
  margin-top: 0 auto;
  margin-bottom: 0 auto;
}
/*******************
** The containers **
********************/

header {
  /**background-image: url("https://raw.githack.com/mhmmdk/gallery/master/back/satallite-logo2.jpg");
  background-color: black;*/
  min-height: 25px;
  padding: 27px;
  box-shadow: 0px 3px;
}

#main {
  padding: 12px;
  margin: auto;
  min-width: 640px;
  width: 740px;
}

#nav {
  max-width: 21%;
  margin-right: auto;
  padding-top: 12px;
  padding-right: 12px;
}

/** aligning main and nav **/

#content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}


footer {
  position: relative;
  bottom: 0;
}


/************ Classes *******/

.page {
  height: 100%;
}


.problem{
  border-bottom: 0.009px solid #500;
}

.drop {
  display: none;
}

.show {
  display: block;
}

