/**
*** JSfiddle link: http://jsfiddle.net/desi_gner/ac4pk0ts/
**/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: Times, serif;
  font-size: 12pt;
}

/***********
** Custom **
***********/

a {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: blue;
}

a,
.title {
  color: coral;
}

td{
  padding: 0 21px;
}

#story {
  font-family: Verdana;
  font-size: 11pt;
}

/*******************
** The containers **
********************/

#header {
  background-image: url("https://raw.githack.com/mhmmdk/gallery/master/back/satallite-logo2.jpg");
  min-height: 25px;
  padding: 12px;
}

#main {
  padding: 12px;
  margin: auto;
  min-width: 640px;
  width: 740px;
}

#nav {
  float: left;
  padding: 1.5em;
  padding-left: 7%;
  max-width: 21%;
}

/** aligning main and nav **/

#content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 7% 0;
}

#footer {
  position: relative;
  bottom: 0;

}

/************Classes*******/

.sticky {
  position: fixed;
  bottom: 0;
  float: left;
  width: 100%;
}

.page {
  height: 100%;
}

.button{
  background-color: silver;
  padding: 7px;
}

.button:hover{
  background-color: darkgray;
}

.drop {
  display: none;
}

.show {
  display: block;
}

