/**
*** JSfiddle link: http://jsfiddle.net/desi_gner/ac4pk0ts/
**/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: CONSOLA, serif;
  font-size: 15pt;
  letter-spacing: -0.05em;
  font-weight: lighter;
}

@font-face {
    font-family: "CONSOLA";
    src: url(https://rawcdn.githack.com/g0xxx3uru/md/master/CONSOLA.TTF) format("truetype");
  }

/***********
** Custom **
***********/

a,
h1,
h3,
h4{
  font-weight: 500;
  font-style: italic;
}

a{
  text-decoration: none;
}


td{
  padding: 0 21px;
}


h3,
footer,
header,
.answer,
.color{
/* primary color */
  color: #aaa;
}

.problem,
.button,
.color1{
  /* secondary color */
  color: #055;
}


h3,
header,
footer,
.answer,
.bkg{
  /* Primary bkg color */
  background-color: #555;
  padding: 3px;
}

.button:hover,
h3,
mark,
.button:hover,
bkg1{
  /* Secondary bkg color ... */
  background-color: #f2f5f5;
  padding: 3px;
}

/*******************
** The containers **
********************/

header {
  /**background-image: url("https://raw.githack.com/mhmmdk/gallery/master/back/satallite-logo2.jpg");
  background-color: black;*/
  min-height: 25px;
  padding: 12px;
}

#main {
  padding: 12px;
  margin: auto;
  min-width: 640px;
  width: 740px;
}

#nav {
  padding: 1.5em;
  padding-left: 7%;
  max-width: 21%;
  margin-right: 0 auto;
  margin-left: auto;
}

/** aligning main and nav **/

#content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}


footer {
  position: relative;
  bottom: 0;
}


/************ Classes *******/

.page {
  height: 100%;
}


.problem{
  border-bottom: 0.009px solid #500;
}

.drop {
  display: none;
}

.show {
  display: block;
}

